header {
    background-image: linear-gradient(to right, black, red,orange,yellow,green,blue,indigo,violet,grey, black);
    color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25%;
    padding: .2%;
    font-weight: bold;
    height: .2px;
};

/* background selectors */
.greyBk {
    background-color: #878787;
}
.redBk {
    background-color: #f80808;
}
.orangeBk {
    background-color: #fd9a05;
}
.yellowBk{
    background-color: #ddd018;
}
.greenBk {
    background-color: #11cc11;
}
.blueBk {
    background-color: #0033ff;
}
.purpleBk {
    background-color: #8c00ff;
}



.bkBtn {
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 1%;
    width: 10%;
    border: .2%;
    border-color: aliceblue;
    border-radius: 5%;
    background-color: none;
    color: rgb(213, 213, 213);
}

.bkBtn:hover {
    cursor: pointer;
}



@media screen and (max-width: 576px) {
    * {
        display: column;
        text-align: center;
        font-size:inherit;
       
    }

    .bkBtn {
        position: inline;
        display: flex;
        justify-content: left;
        align-content: center;
        
    }
}

@media screen and (max-width: 980px) {
    * {
        display: column;
        text-align: center;
        font-size:inherit;
}