body {
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    background-color: black;
}

.circle,
.circle:before,
.circle:after {
    border-radius: 80%;
}

.menunav {
    position: relative;
    display: block;
    margin: 10vh auto;
    min-width: 10em;
    width: 40%;
}

.menunav ul {
    position: relative;
    padding: 50%;
    max-width: 0;
    max-height: 0;
    list-style: none;
}

.menunav li {
    position: absolute;
}

.slice {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
}

/* Cell orientation */
.grey {
    transform: rotate(13deg) skewX(40deg);
}

.red {
    transform: rotate(64.43deg) skewX(40deg);
}

.orange {
    transform: rotate(115.86deg) skewX(40deg);
}

.yellow {
    transform: rotate(167.29deg) skewX(40deg);
}

.green {
    transform: rotate(218.71deg) skewX(40deg);
}

.blue {
    transform: rotate(270.14deg) skewX(40deg);
}

.purple {
    transform: rotate(321.57deg) skewX(40deg);
}

.menunav label {
    cursor: pointer;
}

.slice label {
    display: block;
    width: 200%;
    height: 200%;
    transform: skew(-40deg) rotate(-65deg);
    line-height: 1.9;
    text-align: center;
}

.slice label span {
    display: block;
}

.slice label:hover {
    color: white;
    border: 2px solid black;
    transition: all 0.5s ease;
}

.circle .menuname:hover {
    color: white;
    transition: color 0.5s ease;
}

.menudesc {
    width: 280px;
}

/* Cell background colors */
.grey label,
.ogrey:checked~nav .unsel {
    border: solid #D0D0D0;
    border-width: 10px;
    color: #D0D0D0;
}

.red label,
.ored:checked~nav .unsel {
    border: solid #b80202;
    border-width: 10px;
    color: #b80202;
}

.orange label,
.oorange:checked~nav .unsel {
    border: solid #b67617;
    border-width: 10px;
    color: #b67617;
}

.yellow label,
.oyellow:checked~nav .unsel {
    border: solid #afa629;
    border-width: 10px;
    color: #afa629;
}

.green label, /*could be gradients*/
.ogreen:checked~nav .unsel {
    border: solid #22a722;
    border-width: 10px;
    color: #22a722;
}

.blue label,
.oblue:checked~nav .unsel {
    border: solid #0f2eaa;
    border-width: 10px;
    color: #0f2eaa;
}

.purple label,
.opurple:checked~nav .unsel {
    border: solid #6c12b6;
    border-width: 10px;
    color: #6c12b6;
}

.slice label {
    font-weight: 700;
    line-height: 5;
}

.circle label {
    font-weight: 700;
    line-height: 5;
}

.slice p {
    width: 100px;
    margin-left: 185px;
}

.unsel {
    z-index: 2;
    top: 34%;
    left: 34%;
    width: 32%;
    height: 32%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.unsel label {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 9;
}

.middle {
    z-index: 1;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    text-align: center;
    /* background-color: rgb(0, 0, 0); */
}

.visible {
    display: block;
    position: absolute;
    margin: 250px 0 0 250px;
}

.hidden {
    display: none;
}

.visible ul {
    list-style-type: none;
}

.visible details ul {
    list-style-type: square;
}

.visible a {
    font-size: 120%;
    text-decoration: none;
    color: purple;
}

.Reseau a {
    font-size: 160%;
}

.Reseau a:hover {
    color: red;
}

.circle label span {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    pointer-events: none;
}

@media screen and (max-width: 576px) {
    * {
        display: column;
        text-align: center;
        font-size:inherit;
    }

    .bkBtn {
        position: inline;
        display: flex;
        justify-content: left;
        align-content: center;
        
    }
}

@media screen and (max-width: 980px) {
    * {
        display: column;
        text-align: center;
        font-size:inherit;
}